openapi: 3.1.0
info:
  title: Agenda ChatGPT API
  version: "1.0"
  description: |
    API unificada via Apps Script: enviando path no query param você escolhe
    entre as operações de troca de token, criação de evento ou consulta de disponibilidade.

servers:
  - url: https://script.google.com/a/macros/saude.sc.gov.br/s/AKfycbyn2ogDV0hcJR1i8Vm8qXTLrsZ_BJxcm8zqMnLnS5zegxlrTK4S2z2XqfCCysdJd_nG/exec

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: "https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=762505957614-v46kp1cqvr26ek6o5bqpfo5ibgnqv818.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fchat.openai.com%2Faip%2Fg-7293dde6a39a3128daf1c8bee21271c3da3257a5%2Foauth%2Fcallback&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar.events%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar.readonly&access_type=offline&prompt=consent"
          tokenUrl: "https://oauth2.googleapis.com/token"
          scopes:
            https://www.googleapis.com/auth/calendar.events: "Criar/editar eventos"
            https://www.googleapis.com/auth/calendar.readonly: "Ler eventos"

  schemas:
    UnifiedRequest:
      type: object
      properties:
        code:
          type: string
          description: Código de autorização (usado quando path = exchange_token)
        timeMin:
          type: string
          format: date-time
          description: Início do intervalo de consulta de disponibilidade (usado quando path = freebusy)
        timeMax:
          type: string
          format: date-time
          description: Fim do intervalo de consulta de disponibilidade (usado quando path = freebusy)
        summary:
          type: string
          description: Título do evento (usado quando path = events)
        description:
          type: string
          description: Descrição do evento (usado quando path = events)
        start:
          type: string
          format: date-time
          description: Início do evento (usado quando path = events)
        end:
          type: string
          format: date-time
          description: Fim do evento (usado quando path = events)
      additionalProperties: false

    GenericResponse:
      type: object
      properties: {}
      additionalProperties: true

paths:
  /:
    post:
      operationId: unifiedCalendarOperation
      summary: Endpoint unificado com query param path
      parameters:
        - name: path
          in: query
          required: true
          schema:
            type: string
            enum: [exchange_token, freebusy, events]
        - name: token
          in: query
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnifiedRequest'
      responses:
        "200":
          description: Resposta de sucesso (formato variável conforme operação)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
        - OAuth2: []
