openapi: 3.1.0
info:
  title: Agenda ChatGPT API
  version: "1.0"
  description: |
    API unificada via Apps Script: enviando path no query param você escolhe
    entre as operações de troca de token, criação de evento ou consulta de disponibilidade.

servers:
  - url: https://script.google.com/macros/s/AKfycby3iGeGzlNNRwja5dep5IiRgLyqK5WyJvt_Afr2TPTF2PlKpQ5mZnyM8MkBNbhQG57P/exec

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: "https://accounts.google.com/o/oauth2/v2/auth?access_type=offline"
          tokenUrl: "https://script.google.com/macros/s/AKfycby3iGeGzlNNRwja5dep5IiRgLyqK5WyJvt_Afr2TPTF2PlKpQ5mZnyM8MkBNbhQG57P/exec?path=exchange_token"
          scopes:
            https://www.googleapis.com/auth/calendar.events: "Criar/editar eventos"
            https://www.googleapis.com/auth/calendar.readonly: "Ler eventos"
  schemas:
    ExchangeTokenRequest:
      type: object
      properties:
        code:
          type: string
      required: [code]

    FreeBusyRequest:
      type: object
      properties:
        timeMin:
          type: string
          format: date-time
        timeMax:
          type: string
          format: date-time
      required: [timeMin, timeMax]

    EventRequest:
      type: object
      properties:
        summary:
          type: string
        description:
          type: string
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
      required: [summary, start, end]

    GenericResponse:
      type: object
      properties: {}
      additionalProperties: true

paths:
  /:
    post:
      operationId: unifiedCalendarOperation
      summary: Endpoint unificado com query param path
      parameters:
        - name: path
          in: query
          required: true
          schema:
            type: string
            enum: [exchange_token, freebusy, events]
        - name: token
          in: query
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ExchangeTokenRequest'
                - $ref: '#/components/schemas/FreeBusyRequest'
                - $ref: '#/components/schemas/EventRequest'
      responses:
        "200":
          description: Resposta de sucesso (formato variável conforme operação)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
        - OAuth2: []
