openapi: 3.0.1
info:
  title: Agenda ChatGPT API
  description: API para integração do ChatGPT com o Google Calendar via Google Apps Script.
  version: '1.0'
servers:
  - url: https://script.google.com/a/macros/saude.sc.gov.br/s/AKfycbxXV-4pgKnSBYDG8Gc5XpBn9PbJ3c5qRCqdM0hwhJhJzXGNk1IVASv9O652mBA/exec
paths:
  /:
    post:
      summary: Endpoint unificado
      description: Endpoint único que aceita múltiplas operações via parâmetro `path` na query string.
      parameters:
        - name: path
          in: query
          required: true
          description: Define a ação a ser executada. Ex: "events", "freebusy", "exchange_token".
          schema:
            type: string
            enum: ["events", "freebusy", "exchange_token"]
        - name: token
          in: query
          required: true
          description: Token OAuth do usuário.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                summary:
                  type: string
                description:
                  type: string
                start:
                  type: string
                end:
                  type: string
                timeMin:
                  type: string
                timeMax:
                  type: string
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
