openapi: 3.0.1
info:
  title: Agenda ChatGPT API
  description: API para integração com Google Calendar via Apps Script, com endpoint único.
  version: '1.0'

servers:
  - url: https://script.google.com/macros/s/AKfycby3iGeGzlNNRwja5dep5IiRgLyqK5WyJvt_Afr2TPTF2PlKpQ5mZnyM8MkBNbhQG57P/exec

paths:
  /:
    post:
      operationId: executeAgendaOperation
      summary: Endpoint unificado
      description: Usa `path` na query para selecionar ação: events, freebusy ou exchange_token.
      parameters:
        - name: path
          in: query
          required: true
          schema:
            type: string
            enum: ["events", "freebusy", "exchange_token"]
        - name: token
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                summary:
                  type: string
                description:
                  type: string
                start:
                  type: string
                end:
                  type: string
                timeMin:
                  type: string
                timeMax:
                  type: string
              required: []  # ou inclua campos conforme necessário
      responses:
        '200':
          description: Resposta bem‑sucedida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

components:
  schemas: {}
